@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Deployed using GitHub CI/CD</h1>
    <p><b>Sample app for the deployment to Azure App Service</b></p>
</div>
